package components

templ Header(){
    <header>
        <h1>
            <a href="/">Learn languages</a>
        </h1>

        <menu>
            <a href="/">Home</a>
            <a href="/newlesson">Add new lesson</a>
            <a href="/savedlessons">Lessons</a>
            <a href="/saved">Saved words and phrases</a>
        </menu>
    </header>
}
