package components

templ Header(){
    <header>
        <h1>
            <a href="/">Learn languages</a>
        </h1>

        <menu>
            <a href="/newlesson">Home</a>
            <a href="/newlesson">Add new lesson</a>
            <a href="/managelessons">Manage lessons</a>
            <a href="/savedwords">Saved words</a>
        </menu>
    </header>
}
