package components

templ Lesson(){
    //TODO: pitää vastaanottaa joku struct jossa lessonin tiedot

    <div>
        <span>
            Otsikko
        </span>
        <span>
            Kieli?
        </span>

        <span>
            Lessonin statistiikka? kuinka monta tiedettyä, uutta, ei opittua sanaa?
        </span>

        <button>
            Modify?
        </button>

        <button>
            Delete lesson
        </button>
    </div>
}
