package components

templ NewLessonForm(){
    //TODO:
    <div>
        <input name="newLessionTitle" type="text" id="newLessionTitle" placeholder="Title" />
        <p>Kielen valinta jotenkin</p>
        <textarea name="lessonTextArea"></textarea>
        <p>tai tiedoston uppaus mahdollisuus</p>
    </div>
}
