package newlesson

import "langLearning/views/layouts"
import "langLearning/views/components"

templ NewLessonPage(savedLanguages []string){
    @layouts.Base(){
        @components.NewLessonForm(savedLanguages)
    }
}
